@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.my-account-container {
    background-color: #CAF0F8;
    /* margin-top: 0px; */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    padding:  30px 120px; /* Adjust padding as needed */
    margin-top: 75px;
    color: black !important;
}

.sidebar {
    width: 25%;
    height: 30%;
    background-color: white;
    padding: 10px 10px 10px 0;
    border-radius: 5px;
    flex-shrink: 0; 
}

.sidebar-item {
    cursor: pointer;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    /* border-radius: 5px; */
    text-align: left;
    transition: all 0.3s ease;
    &:hover {
        background-color: #ddd;
        margin-left:12px;
        border-radius:3px;
        /* color:red; */
    }
}

.sidebar-item.active {
    border-left: 4px solid #48CAE4; 
    padding-left: 12px; 
}

.main-panel {
    flex: 1;
    padding: 0 20px; /* Adjust padding as needed */
}

.appointment-container{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
}



.profile-picture {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.appointment-container h3{
    margin-left: 7%;
    width: 100%;
    color:black;
    text-align: left;
    align-items: left;
    justify-content: left;
    display: flex;
}

.custom-app-date{
    margin-left: 7%;
    text-align: left;
    align-items: left;
    margin-bottom: 3px;
}

.custom-app-location{
    margin-left: 7%;
    text-align: left;
    align-items: left;
    color: #273f56;
    margin-bottom: 4%;
}

.service-container {
    display: flex;
    text-align: left;
    align-items: left;
    margin-bottom: 7px;
    /* border: 2px solid #273f56; */
}

.service-name {
    flex: 1; 
    margin-right: 10px; 
}

.service-price {
    flex-shrink: 0; /* Do not shrink */
    font-weight: 400;
    margin-right: 5%;
}

.service-price span{
    
}

.service-duration{
    color:#a5a2a8;
    text-align: left;
    align-items: left;
    margin-bottom: 7px;
}


.service-status {
    padding: 5px;
    border-radius: 15px;
    width: 20%;
    height: 30px;
}

.confirmed {
    background-color: #bcf1d1;
    color: #17bc57;
}

.cancelled {
    background-color: #fbc4bb;
    color: #dd1c03;
}

.pending {
    background-color: #a5a2a8;
}



