.my-account-container {
    display: flex;
    padding:  30px 120px; /* Adjust padding as needed */
    margin-top: 100px;
}

.sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 10px;
}

.sidebar-item {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    &:hover {
        background-color: #ddd;
    }
}

.sidebar-item.active {
    background-color: #bbb;
}

.main-panel {
    flex: 1;
    padding: 0 20px; /* Adjust padding as needed */
}
