@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.custom-form {
  font-family: 'Poppins', sans-serif;
  width:100%;
  padding-top: 20px;
  margin: auto;
  margin-top:2%;
  font-weight: 500;
  border-radius: 5px;
}

.custom-form-field {
  margin-bottom: 10px;
}

.custom-dropdown {
  border-color: black;
}

.custom-dropdown .text {
  color: black; /* Replace with your desired font color */
}

.custom-dropdown .menu .item:hover {
  background-color: #f5f5f5;
}

.custom-datepicker-field{
  margin-bottom: 10px;
  width: 100%;
}

.custom-calendar-field{
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #e7e3e3;
  border-radius: 5px;
  padding: 9px;
  align-items: left;
  justify-content: left;
  /* color: #bdb3b3; */
}

.custom-calendar-field:hover{
  border: 1px solid #9b9998;
}

p{
  /* margin-bottom: 0px; */
  /* margin-top: 0px; */
  font-size: 13px;
  font-weight: 700;
  padding: 0px;
}


.see-all-salons-button {
  width: 30%;
  display: flex;
  background-color: #00b4d8;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  transition: background-color 0.3s;
  color: white;
  margin-top: 10px; /* Adjust this value as needed */
}

.see-all-salons-button:hover {
  background-color: #00b4d8;
}

